<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConcertChaser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>679ABE881D9C307500C10395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679ABE9F1D9C307500C10395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679ABEAA1D9C307500C10395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
